# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science
- List various libraries in Data Science
- Introduces the Jupyter Notebook and Jupyter Lab
- Getting Started with Jupyter Notebooks

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn

| Data Science Tools |
| -------------|
| Jupyter Notebook |
| Jupyter Lab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
>>> a = 5
>>> b = 2

>>> a+b

7

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Heong Kai Shing